body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: darkslategray;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#goalsParent > div {
  transition: background-color .5s;
}

#goalsParent > div:hover {
  background: lightgreen;
}

#loginParent > div {
  transition: background-color .5s;
}

#loginParent > div:hover {
  background: lightgreen;
}
