body {
  font-family: sans-serif;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: darkslategray;
}

hr {
  color: #ccc;
  width: 90%;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  display: inline-block;
}

#goalsParent > div {
  transition: all .5s;
}

#goalsParent > div:hover {
  background: lightgreen;
}

#loginParent > div {
  transition: background-color .5s;
}

#loginParent > div:hover {
  background: lightgreen;
}

.checkbox {
  cursor: 'pointer';
}

.checkbox:hover {
  color: lightseagreen;
}

.checkbox.selected {
  color: lightseagreen;
}

.day-card {
  transition: transform .2s
}

.day-card:hover {
  transform: scale(1.1)
}

.days-card.shrink {
  transform: scale(0.6)
}
