body {
  font-family: sans-serif;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: darkslategray;
}

hr {
  color: #ccc;
  width: 90%;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  display: inline-block;
}

#goalsParent > div {
  transition: all .5s;
}

#goalsParent > div:hover {
  background: lightgreen;
}

#loginParent > div {
  transition: background-color .5s;
}

#loginParent > div:hover {
  background: lightgreen;
}

.checkbox {
  cursor: 'pointer';
}

.checkbox:hover {
  color: lightseagreen;
}

.checkbox.selected {
  color: lightseagreen;
}

.daycard {
  transition: transform 0.2s
}

.daycard:hover {
  transform: scale(1.1)
}

.daycard.shrink {
  transform: scale(0.7)
}

#percentage-parent {
  transition: all 0.2s;
  opacity: 0.2;
  width: 200px;
  height: 200px;
  position: absolute;
}

#percentage-parent:hover {
  transform: scale(1.1);
  opacity: 1;
}

#piechart-container {
  transition: all 0.2s
}

#piechart-container:hover {
  transform: scale(1.1)
}

#recipes-container {
  position: fixed;
  left: -18.8vw;
  transition: all 0.2s;
}

#recipes-container.appear {
  transform: translate(18.8vw, 0)
}

#recipes-tab {
  transition: all 0.2s;
  width: 60px;
  height: 60px;
  position: fixed;
  left: 0vw;
  top: 94.5px;
  z-index: 6;
}

#recipes-tab.appear {
  transform: translate(18.8vw, 0)
}

.recipe-img {
  transition: all 0.2s
}

.recipe-img:hover {
  transform: scale(1.1)
}

#grocery-list {
  transition: all 0.2s
}

#grocery-list.active {
  transform: translate(0, 410px)
}
